@font-face {
  font-family: "HelveticaNeue";
  src: url("../../Assets/global/fonts/HelveticaNeue.ttc");
}

:root {
  --pureBlack: #000;
  --blackish: #a6a6a6;
  --pureWhite: #fff;
  --grayish: #f9f9f9;
  --blueish: #0E80BF;
  --purple: #6B40E3;
  --borderGray: #BCBCBC;
  --helvetica: "HelveticaNeue", sans-serif;
}

body {
  margin: 0;
  padding: 0;
  font-family: var(--helvetica);
}

/* ~ Reusable elements */
input {
  height: 48px;
  border: 1px solid var(--borderGray);
  border-radius: 4px;
  margin: 0 0 8px 0;
}

input::placeholder {
  padding: 1rem;
  font-size: 1rem;
  font-family: var(--helvetica);
  color: var(--blackish);
}

label {
  font-size: 1rem;
  font-weight: bolder;
  margin: 0 0 8px 0;
}

textarea {
  padding: 1rem;
  font-size: 1rem;
  border: 1px solid var(--borderGray);
  font-family: var(--helvetica);
  border-radius: 4px;
  resize: none;
}

.inp_el {
  display: flex;
  flex-direction: column;
}

.inp_el p {
  font-size: 14px;
  color: var(--blackish);
  margin-block-start: 0em;
}

.next_btn button {
  width: 150px;
  height: 48px;
  font-size: 1rem;
  font-family: var(--helvetica);
  font-weight: bolder;
  color: var(--pureWhite);
  background-color: var(--purple);
  border-radius: 4px;
}

/* reusable elements */

/* ~ main page  */
#main_page_container {
  background-image: url("../../Assets/homepage/landing-page-bg.png");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  width: 100%;
  height: 100vh;
}

.main_page_logo {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 24px 0 0 70px;
}

.main_page_top hr {
  width: 93%;
  border: 1px solid #000;
}

.main_page_button {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 80vh;
  margin: auto;
}

.watermark {
  position: absolute;
  width: 300px;
  height: 300px;
  bottom: 30%;
  right: 25%;
  padding: 0 20px 20px 0;
  font-size: 12px;
  color: var(--pureWhite);
}

.main_page_button a {
  text-decoration: none;
  position: absolute;
}

.resume_btn {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 464px;
  margin: auto;
  padding: 18px;
  border-radius: 8px;
  font-size: 20px;
  color: var(--pureWhite);
  background-color: var(--pureBlack);
  cursor: pointer;
}

.resume_btn:hover {
  background-color: #fff;
  color: #000;
  transition: 0.2s;
  transition-timing-function: ease-in;
  border: 1px solid #000;
}

/* main page end */

/* ~ personal info */
#personal_info_container {
  display: flex;
  justify-content: center;
  align-items: flex-start;
  width: 100%;
  height: 100vh;
}

/* ~ left side */
.personal_info_left {
  display: flex;
  width: 60%;
  height: auto;
  background-color: var(--grayish);
}

.back_to_mainPage {
  display: flex;
  justify-content: center;
  flex-direction: row;
  align-content: center;
  width: 10%;
  height: fit-content;
  padding: 45px 0 0 0;
}

.back_to_mainPage button {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 40px;
  height: 40px;
  margin: 6px 0 0 0;
  border: none;
  border-radius: 25px;
}

.personal_info_form {
  width: 80%;
  padding: 45px 0 0 0;
  margin: 0 30px 0 15px;
}

.personal_info_title {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  font-size: 1.1rem;
  font-weight: bold;
}

.personal_info_form hr {
  border: 1px solid #000;
  margin-block-start: 0em;
  margin: 0 0 70px 0;
}

.personal_info_title h2,
.personal_info_title p {
  margin-block-start: 0.5em;
  margin-block-end: 0.5em;
}

.personal_info_right {
  width: 40%;
}

.nameSurname {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  margin: 0 0 46px 0;
}

.form_name,
.form_surname {
  width: 45%;
}

.upload_photo {
  display: flex;
  flex-direction: row;
  align-items: center;
  margin: 0 0 50px 0;
}

.photo_title {
  font-weight: bolder;
}

.upload_btn {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100px;
  height: 30px;
  margin: 0 0 0 20px;
  padding: 4px 16px 6px;
  border-radius: 6px;
  color: var(--pureWhite);
  background-color: var(--blueish);
}

#uploadPhoto {
  display: none;
}

.about_myself {
  margin: 0 0 20px 0;
}

.about_myself textarea {
  height: 100px;
}

.form_submit {
  display: flex;
  justify-content: flex-end;
  align-items: flex-end;
  width: 100%;
  height: 100%;
  margin: 150px 0 100px;

}



/* personal info left side */


/* ~ personal info right side */
.personal_info_right {
  width: 40%;
  height: auto;
  background-color: green;
}

/* right side */
/* personal info */

/* ~ experience */
#experience_container {
  background-color: red;
}

/* experience */